
.main-container {
    max-width:960px;
    margin: auto;
}
.site-menu {
    width: 20%;
}
.sidebar {
    width: 20%;
}
.main-content {
    width: 60%;
}
.site-menu,
.main-content,
.sidebar {
    float:left;
}
